@import './lib/components/editor/editor-content.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	html {
		@apply scroll-smooth;
	}
}

.scrollbar-none {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
	display: none;
}
